<%- include("./partials/header") %>

<title><!-- add reqd title --></title>

<!-- Links for any stylesheets -->
<link rel="stylesheet" href="/stylesheets/filename.css" />

<div class="container">
    <!-- //your content -->
</div>

<!-- Link for js file if reqd -->
<script src="/javascript/filename.js"></script>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col">
            <div class="card" style="width: 18rem">
                <img src="..." class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of
                        the card's content.
                    </p>

                    <div class="accordion" id="x1">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button
                                    class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne"
                                    aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseOne"
                                >
                                    Read More
                                </button>
                            </h2>
                            <div
                                id="panelsStayOpen-collapseOne"
                                class="accordion-collapse collapse"
                                aria-labelledby="panelsStayOpen-headingOne"
                            >
                                <div class="accordion-body">
                                    <strong>This is the first item's accordion body.</strong> It is
                                    shown by default, until the collapse plugin adds the appropriate
                                    classes that we use to style each element. These classes control
                                    the overall appearance, as well as the showing and hiding via
                                    CSS transitions. You can modify any of this with custom CSS or
                                    overriding our default variables. It's also worth noting that
                                    just about any HTML can go within the
                                    <code>.accordion-body</code>, though the transition does limit
                                    overflow.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem">
                <img src="..." class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of
                        the card's content.
                    </p>

                    <div class="accordion" id="x2">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button
                                    class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseTwo"
                                    aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseTwo"
                                >
                                    Read More
                                </button>
                            </h2>
                            <div
                                id="panelsStayOpen-collapseTwo"
                                class="accordion-collapse collapse"
                                aria-labelledby="panelsStayOpen-headingTwo"
                            >
                                <div class="accordion-body">
                                    <strong>This is the first item's accordion body.</strong> It is
                                    shown by default, until the collapse plugin adds the appropriate
                                    classes that we use to style each element. These classes control
                                    the overall appearance, as well as the showing and hiding via
                                    CSS transitions. You can modify any of this with custom CSS or
                                    overriding our default variables. It's also worth noting that
                                    just about any HTML can go within the
                                    <code>.accordion-body</code>, though the transition does limit
                                    overflow.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem">
                <img src="..." class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of
                        the card's content.
                    </p>

                    <div class="accordion" id="x3">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                <button
                                    class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseThree"
                                    aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseThree"
                                >
                                    Read More
                                </button>
                            </h2>
                            <div
                                id="panelsStayOpen-collapseThree"
                                class="accordion-collapse collapse"
                                aria-labelledby="panelsStayOpen-headingThree"
                            >
                                <div class="accordion-body">
                                    <strong>This is the first item's accordion body.</strong> It is
                                    shown by default, until the collapse plugin adds the appropriate
                                    classes that we use to style each element. These classes control
                                    the overall appearance, as well as the showing and hiding via
                                    CSS transitions. You can modify any of this with custom CSS or
                                    overriding our default variables. It's also worth noting that
                                    just about any HTML can go within the
                                    <code>.accordion-body</code>, though the transition does limit
                                    overflow.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--comment-->

<form class="d-flex">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>



<%- include("./partials/footer") %>
