<%- include("./partials/header") %>
<title>Aid |Scholarships </title>
    <link rel="stylesheet" href="/stylesheets/cover-pic.css">
    <link rel="stylesheet" href="/stylesheets/aboutus.css">
    <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <div id="cover-pic" style="  background-image: url(../images/aboout.jpg)">
        <br><br><br><br><br><br><br><br><br><br><br>
        <div class="container" id="pic">
            <div id="pic-text-one">Government <b></b><span style="color:#ffb400">Scholarships.</span></div>
            <!-- <div id="pic-text-two"></div> -->
            <br>
            <!-- <a id="pic-button" class="btn btn-md" href="#eventbox">EVENTS</a> -->
        </div>
    </div>
    <div class="container"style="margin-left: auto; margin-right: auto;">
        <!-----------India Section---------->
        <div id="pic-text-one" style="color:#ffb400">INDIA</div>
        <hr>
        <div class="row">
            <div class="col-lg-4 text-center text-lg-left">
                <div class="hideme">
                    <div class="mainheader mb-4">
                        Scholarship Name.
                    </div>
                    <p class="text-muted pb-2">Pre-matric Scholarship for Students with Disabilities</p><br>

                    <p class="text-muted pb-2">Post Matric Scholarship for Students with Disabilities</p><br>

                    <p class="text-muted pb-2">Pre-Matric Scholarships Scheme for Minorities</p><br>

                    <p class="text-muted pb-2">Post Matric Scholarships Scheme for Minorities</p>
                </div>
            </div>

            <div class="col-lg-4 text-center text-lg-left">
                <div class="hideme">
                    <div class="mainheader mb-4">
                        Provider Name.
                    </div>
                    <p class="text-muted pb-2"> 
                        Department of Empowerment of Persons with Disability, Government of India
                    </p><hr>

                    <p class="text-muted pb-2"> 
                        Department of Empowerment of Persons with Disability, Government of India
                    </p><hr>

                    <p class="text-muted pb-2">
                        Ministry of Minority Affairs, Government of India
                    </p><hr>

                    <p class="text-muted pb-2">
                        Ministry of Minority Affairs, Government of India
                    </p><hr>
    
                </div>
            </div>
    
            <div class="col-lg-4 text-center text-lg-left">
                <div class="hideme">
                    <div class="mainheader mb-4">
                        Application Period.
                    </div>
                    <p class="text-muted pb-2"><br>August to November<br></p>

                    <p class="text-muted pb-2"><br>August to November<br></p>

                    <p class="text-muted pb-2"><br>August to November<br><br></p>

                    <p class="text-muted pb-2"><br>August to November<br><br></p>

                </div>
            </div>
                
        </div>
        <br><br>
        <div id="pic-text-one" style="color:#ffb400">MAHARASHTRA</div>
        <hr>
        <div class="row">
            <div class="col-lg-4 text-center text-lg-left">
                <div class="hideme">
                    <div class="mainheader mb-4">
                        Scholarship Name.
                    </div>
                    <p class="text-muted pb-2"> <a href="https://www.buddy4study.com/scholarship/post-matric-scholarship-to-sbc-students-maharashtra"> 
                        Post Matric Scholarship to SBC Students Maharashtra</a></p><br>

                    <p class="text-muted pb-2"><a href="https://www.buddy4study.com/scholarship/tuition-fees-and-examination-fees-to-sbc-students-maharashtra">
                        Tuition fees and examination fees to sbc students maharashtra</a><br><br><br></p>

                    <p class="text-muted pb-2"><a href="https://www.buddy4study.com/scholarship/dr-punjabrao-deshmukh-vasatigruh-nirvah-bhatta-yojna-maharashtra">
                        Dr Punjabrao Deshmukh Vasatigruh Nirvah Bhatta Yojna Maharashtra</a></p><br><br><br>

                    <p class="text-muted pb-2"><a href="https://www.buddy4study.com/scholarship/tuition-fees-and-examination-fees-to-vjnt-students-maharashtra">
                        Tuition fees and examination fees to Vjnt students Maharashtra</a></p>
                </div>
            </div>

            <div class="col-lg-4 text-center text-lg-left">
                <div class="hideme">
                    <div class="mainheader mb-4">
                        Eligibility.
                    </div>
                    <p class="text-muted pb-2"> 
                        The students pursuing an education at post-matriculation level can apply.
                        They must maintain 75% attendance for the current year
                    </p><hr>

                    <p class="text-muted pb-2"> 
                        The scholarship is open for students studying at post-matriculation level
                        The annual income of the family should not exceed INR 8 Lakh.
                    </p><hr>

                    <p class="text-muted pb-2">
                        The scholarship is applicable for the wards of registered labour or child of Alpabhudarak or both.
                        The annual income of the family should not be more than INR 8 Lakh.
                    </p><hr>

                    <p class="text-muted pb-2">
                        The scholarship is open for students studying at post-matriculation level
                        The annual income of the family should not exceed INR 8 Lakh.
                    </p><hr>
    
                </div>
            </div>
    
            <div class="col-lg-4 text-center text-lg-left">
                <div class="hideme">
                    <div class="mainheader mb-4">
                        Application Period.
                    </div>
                    <p class="text-muted pb-2"><br>Between December and February<br><br></p>

                    <p class="text-muted pb-2"><br>Between December and February<br><br> </p>

                    <p class="text-muted pb-2"><br>Between December and February<br><br><br><br></p>

                    <p class="text-muted pb-2"><br>Between December and February<br><br></p>

                </div>
            </div>
                
        </div>

        <br><br>
        <div id="pic-text-one" style="color:#ffb400">KARNATAKA</div>
        <hr>
        <div class="row">
            <div class="col-lg-4 text-center text-lg-left">
                <div class="hideme">
                    <div class="mainheader mb-4">
                        Scholarship Name.
                    </div>
                    <p class="text-muted pb-2"> National Overseas Scholarship for Minority Community Students, Karnataka</p><br>

                    <p class="text-muted pb-2">Research Guidance PhD Fellowship for Backward Classes, Karnataka <br></p>

                    <p class="text-muted pb-2">Pre-Matric Scholarship for Minorities of Karnataka <br></p>

                    <p class="text-muted pb-2">Post-Matric Scholarship for Minorities of Karnataka <br></p>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-left">
                <div class="hideme">
                    <div class="mainheader mb-4">
                        Provider Name.
                    </div>
                    <p class="text-muted pb-2"> 
                        Directorate of Minorities, Government of Karnataka
                    </p><hr>

                    <p class="text-muted pb-2"> 
                        Department of Backward Classed Welfare, Government of Karnataka
                    </p><hr>

                    <p class="text-muted pb-2">
                        Directorate of Minorities, Government of Karnataka
                    </p><hr>

                    <p class="text-muted pb-2"><br>
                        Directorate of Minorities, Government of Karnataka
                    </p><hr>

                </div>
            </div>

            <div class="col-lg-4 text-center text-lg-left">
                <div class="hideme">
                    <div class="mainheader mb-4">
                        Application Period.
                    </div>
                    <p class="text-muted pb-2"><br>May to July<br></p>

                    <p class="text-muted pb-2"><br>October to December<br></p>

                    <p class="text-muted pb-2"><br>Between December and February<br><br></p>

                    <p class="text-muted pb-2"><br>Between December and February<br><br></p>

                </div>
            </div>
            
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../public/scripts/scholarship.js"></script>
    <script>
        $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
    <%- include("./partials/footer") %>
    <script src="/scripts/aboutus.js"></script>